.messages {
    width: 300px;
}

.show-mess__list {
    height: 200px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid #d7d7d7;
    overflow-y: scroll;
}

.show-mess__item--deleted {
    color: red;
}